!!!
%html
  %head
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %title Yateley School Map 3d
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %body
      %div{class: "bootstrap-scope"}
        %nav.navbar.navbar-fixed-top
          .container-fluid
            .navbar-header
              .navbar-brand= link_to image_tag("logo-YS.png", :border => 0), root_path
            %ul.nav.navbar-nav
              .col-lg-6.navbar-left
                .input-group{class: "search-box"}
                = form_tag posts_path, :method => :get do
                  .left-inner-addon
                    %i.fa.fa-search.fa-fw
                    -if (params[:search].nil? || params[:search].empty? || params[:search] =~ /^\s*$/)
                      %input.form-control{:placeholder => "Search Yateley School...", :tabindex => "1", :type => "text", :name => "search", :autocomplete => "off"}
                    -else
                      %input.form-control{:value => params[:search], :tabindex => "1", :type => "text", :name => "search", :autocomplete => "off"}

              -if user_signed_in?
                %ul.nav.navbar-nav.navbar-right.tabs
                  .fa.fa-heart.fa-2x
                  .fa.fa-send-o.fa-2x
                  .fa.fa-copyright.fa-2x
                  .fa.fa-user.fa-2x
                  = link_to new_post_path do
                    .fa.fa-pencil-square.fa-2x
                  = link_to new_post_path do
                    .fa.fa-calendar.fa-2x
                  = link_to destroy_user_session_path, method: :delete do
                    .fa.fa-sign-out.fa-2x

              -else
                %ul.nav.navbar-nav.navbar-right.tabs
                  .fa.fa-heart.fa-2x
                  .fa.fa-send-o.fa-2x
                  .fa.fa-copyright.fa-2x
                  = link_to new_post_path do
                    .fa.fa-calendar.fa-2x
                  = link_to new_user_session_path do
                    .fa.fa-sign-in.fa-2x

  %div{class: "b4w-overlay", id: "b4w-overlay"}

  #controls
    #control_rotate_circle
    #control_rotate_tap
    #control_pan_circle
    #control_pan_tap


  %div{class: "bootstrap-scope"}
    .container

      - flash.each do |name, msg|
        = content_tag :div, msg, class: "alert alert-info"

      = yield
